list items are ordered, changeable and allow duplicate items

In [3]:
a=['apple','banana','cherry']
print(a)

['apple', 'banana', 'cherry']

In [9]:
a=[1,2,3,4]
print(len(a))

4

In [12]:
type(a)

list

In [14]:
t1=['abc',34,True,40.4,'male']
print(len(t1))
type(t1)

5

list

In [16]:
t1[3]

40.4

In [17]:
t1[-1]

'male'

In [18]:
t1[1:4:2]

[34, 40.4]

In [19]:
t1[::4]

['abc', 'male']

In [22]:
l1=['apple','banana','cherry']
print(l1)

['apple', 'banana', 'cherry']

In [23]:
l1.insert(2,'watermelon')
print(l1)

['apple', 'banana', 'watermelon', 'cherry']

In [27]:
l1[1]="orange"
l1

['apple', 'orange', 'watermelon', 'cherry']

In [32]:
l1[1:3]=['blackcurrant','watermelon']
l1

['apple', 'blackcurrant', 'watermelon', 'watermelon']

In [34]:
l2=['apple','banana','cherry']
print(l2)

['apple', 'banana', 'cherry']

In [36]:
l2[1:2]=['blackcurrant','watermelon']
l2

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [38]:
l2[1:3]=['watermelon']
l2

['apple', 'watermelon']

In [2]:
n = list(input())
s=0
for i in n:
    if n[i]>n[i+1]:
        s=i
        print(i)

TypeError: list indices must be integers or slices, not str