In [1]:
l1=['apple','banana','cherry']
l1.append('orange')
print(l1)

['apple', 'banana', 'cherry', 'orange']

In [4]:
l2=['apple','banana','cherry']
l2.insert(1,'orange')
print(l2)

['apple', 'orange', 'banana', 'cherry']

In [4]:
l3=['apple','banana','cherry']
l4=['apple','banana','cherry']
l3.extend(l4)
print(l3)

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']

In [6]:
l5=['apple','banana','cherry']
l5.append(['a','b'])
print(l5)

['apple', 'banana', 'cherry', ['a', 'b']]

In [7]:
l5[3][0]

'a'

In [13]:
l5.remove('banana')

ValueError: list.remove(x): x not in list

In [14]:
print(l5)

['apple', 'cherry', ['a', 'b']]

In [15]:
l5.pop(1)
l5

['apple', ['a', 'b']]

In [16]:
l5.pop()
l5

['apple']

In [20]:
l6=['apple','banana','cherry']
l6.remove(['banana','apple'])
print(l6)

ValueError: list.remove(x): x not in list

In [21]:
l6

['apple', 'banana', 'cherry']

In [22]:
l6.remove('apple','banana')

TypeError: remove() takes exactly one argument (2 given)

In [24]:
del l6[0:2]
print(l6)

[]

In [25]:
l6

[]

In [26]:
l7=['apple','banana','cherry']
del l7[2]

In [27]:
l7

['apple', 'banana']

In [28]:
l7.clear()

In [29]:
l7

[]

## tuple
tuple items are ordered, unchangeable and allow duplicate values.

In [30]:
t1=('apple','banana','cherry')
print(t1)

('apple', 'banana', 'cherry')

In [31]:
t1[2]

'cherry'

In [32]:
len(t1)

3

In [33]:
type(t1)

tuple

In [35]:
t2=('apple','banana','cherry')
t3=(1,2,3,4,5)
t4=(True,False,False)
t5=('abc',34,True,40,'male')
print (t2)
print (t3)
print (t4)
print (t5)

('apple', 'banana', 'cherry')
(1, 2, 3, 4, 5)
(True, False, False)
('abc', 34, True, 40, 'male')

In [37]:
t5[1]

34

In [38]:
t5[-1]

'male'

In [39]:
t5[2:5]

(True, 40, 'male')

In [40]:
t5[:4]

('abc', 34, True, 40)

In [41]:
x=('abc',34,True,40,'male')
y=list(x)

In [42]:
y

['abc', 34, True, 40, 'male']

In [43]:
y[1]='kiwi'
x=tuple(y)
print(x)

('abc', 'kiwi', True, 40, 'male')

## set
collection of unordered, unchangeable(set items are unchangeable but you can remove items and add new items), no duplication and unindexed

In [2]:
s1={'apple','banana','cherry'}
s1

{'apple', 'banana', 'cherry'}

In [3]:
list(s1)

['cherry', 'apple', 'banana']

In [4]:
s1

{'apple', 'banana', 'cherry'}

In [7]:
s2={'cherry',True,3,2}
type(s2)

set

In [8]:
len(s2)

4

In [11]:
for i in s2:
    print(i)

3
True
2
cherry

In [10]:
print('cherry' in s2)

True

In [12]:
s2.add('o')

In [13]:
s2

{2, 3, True, 'cherry', 'o'}

In [14]:
s2.update(s1)
print(s2)

{True, 2, 3, 'cherry', 'apple', 'banana', 'o'}

In [15]:
s2.remove('banana')
s2

{2, 3, True, 'apple', 'cherry', 'o'}

In [16]:
s2.discard('o')
s2

{2, 3, True, 'apple', 'cherry'}

In [17]:
s2.pop()
s2

{2, 3, 'apple', 'cherry'}

In [18]:
s2.clear()
s2

set()

In [19]:
del s2

In [20]:
s2

NameError: name 's2' is not defined

In [22]:
set={1,2,3,4}
del set

In [23]:
set

set

In [24]:
list

list

In [25]:
set1={'a','b','c'}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [26]:
set1={'a','b',3}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b'}

In [30]:
a=[]
for i in range(5):
    b=int(input())
    a.append(b)
print(a)

[3, 3, 3, 3, 3]

In [1]:
x={'apple','banana','cherry'}
y={'google','a','apple'}
z=x.intersection(y)
print(z)

{'apple'}

In [2]:
z=x.symmetric_difference(y)
print(z)

{'google', 'banana', 'a', 'cherry'}