In [1]:
n=int(input())
for i in range(n):
    print("*")

*
*
*
*

In [5]:
n=int(input())
for i in range(n):
    print("*",end='')

****

In [2]:
n=int(input())
for i in range(n):
    for j in range(n):
        print("*",end='')
    print('')

*****
*****
*****
*****
*****

In [4]:
for i in range(5):
    for j in range(i+1):
        print("*",end='')
    print('')

*
**
***
****
*****

In [34]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end='')
    print('')

1
12
123
1234

In [54]:
for i in range(1,6,2):
    for j in range(1,i+1,2):
        print(i,end='')
    print('')

1
33
555

1
23
456

123
12
1

In [5]:
a = 1    
b = 2    
n = 3          
for i in range(n):     
    for j in range(1, b):     
        print(a, end=' ')  
        a += 1     
    print("")    
    b += 1

1
2 3
4 5 6

In [28]:
a=1
for i in range(3):
    for j in range(i+1): 
        print(a, end=' ')
        a += 1 
    print("")

1
2 3
4 5 6

In [23]:
n=int(input())
for i in range(n+1, 0, -1):      
    for j in range(1, i):       
        print(j, end=' ')    
    print(" ")

1 2 3 4
1 2 3
1 2
1

In [68]:
n=int(input())
for i in range(n+1, 0, -1):      
    for j in range(1, i):       
        print('*', end=' ')    
    print(" ")

* * * *
* * *
* *
*

In [11]:
#cardinality=no.of rows
#degree is columns
#entity is rows
#relation is table
#entity set is collection of entity
#attributes has 2 types-simple attributes and composite attributes(divided into multiple parts)
#single value attribute 
#multi value attribute
#derived attribute
#key is the combination of one or more attributes which uniquely identify in the table
#super key
#primary key
#foreign key
#composite key
#alternate key
#candidate key