## Dictionary

data stored in key value pairs.
dictionary is a collection which is ordered , changeable and do not allow duplicates.
dictionary items are ordered, changeable, and does not allow duplicates.

In [1]:
d1={
    'name':'john',
    'add':'India',
    'year':1964
}

print(d1)

{'name': 'john', 'add': 'India', 'year': 1964}

In [2]:
d1['name']

'john'

In [3]:
d2={
    'brand':'Ford',
    'model':'Mustang',
    'year':1964,
    'year':2020
}

print(d2)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [4]:
len(d2)

3

In [5]:
d2['year']

2020

In [7]:
d3={
    'brand':['ford','a'],
    'electric':False,
    'year':1964,
    'colors':['red','white','blue']
}

print(d3)

{'brand': ['ford', 'a'], 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [8]:
d3['colors']

['red', 'white', 'blue']

In [11]:
d3['colors'][0]

'red'

In [9]:
d4={
    'brand':['ford','a'],
    'electric':False,
    'year':1964,
    'colors':{'red','white','blue'}
}

d4

{'brand': ['ford', 'a'],
 'electric': False,
 'year': 1964,
 'colors': {'blue', 'red', 'white'}}

In [13]:
d5={
    'brand':{
        'name':'ford'
        },
    'electric':False,
    'year':1964,
    'colors':['red','white','blue']
}

d5

{'brand': {'name': 'ford'},
 'electric': False,
 'year': 1964,
 'colors': ['red', 'white', 'blue']}

In [14]:
d5['brand']['name']

'ford'

In [21]:
d5[['brand'],['year']]

TypeError: unhashable type: 'list'

In [17]:
d5.get('year')

1964

In [22]:
d5.keys()

dict_keys(['brand', 'electric', 'year', 'colors'])

In [23]:
d5.values()

dict_values([{'name': 'ford'}, False, 1964, ['red', 'white', 'blue']])

In [28]:
d5['colors']='white'
d5

{'brand': {'name': 'ford'}, 'electric': False, 'year': 1964, 'colors': 'white'}

In [30]:
d5.update({'year':2020})
d5

{'brand': {'name': 'ford'}, 'electric': False, 'year': 2020, 'colors': 'white'}

In [33]:
d5.pop('electric')

KeyError: 'electric'

In [34]:
d5

{'brand': {'name': 'ford'}, 'year': 2020, 'colors': 'white'}

In [35]:
d5.clear()
d5

{}

In [36]:
family={
    'child1':{'name':'Emil',
              'year':2004},
    'child2':{'name':'Tobias',
              'year':2007},
    'child3':{'name':'Linus',
              'year':2010}
}

print(family)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2010}}

In [2]:
for i in range(1,6):
    for j in range(1,6):
        print(' ',end=' ')
    for k in range(1,2):
        print('*',end=' ')
    print('')
    
for i in range(1,12):
    print('*',end=' ')
print('')
    
    
    
for i in range(1,6):
    for j in range(1,6):
        print(' ',end=' ')
    for k in range(1,2):
        print('*',end=' ')
    print('')

          *
          *
          *
          *
          *
* * * * * * * * * * *
          *
          *
          *
          *
          *

In [25]:
for i in range(1,6):
    for j in range(1,2):
        print('*',end=' ')
    for k in range(1,4):
        print(' ',end=' ')
    for j in range(1,2):
        print('*',end=' ')
    print('')
    
for i in range(1,3):
    for j in range(1,6):
        print('*',end=' ')
    print('')   
    
for i in range(1,6):
    for j in range(1,2):
        print('*',end=' ')
    for k in range(1,4):
        print(' ',end=' ')
    for j in range(1,2):
        print('*',end=' ')
    print('')

*       *
*       *
*       *
*       *
*       *
* * * * *
* * * * *
*       *
*       *
*       *
*       *
*       *

In [31]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,2):
        print('*',end=' ')
    for k in range(1,n-1):
        print(' ',end=' ')
    for j in range(1,2):
        print('*',end=' ')
    print('')
    
for i in range(1,3):
    for j in range(1,n+1):
        print('*',end=' ')
    print('')   
    
for i in range(1,n+1):
    for j in range(1,2):
        print('*',end=' ')
    for k in range(1,n-1):
        print(' ',end=' ')
    for j in range(1,2):
        print('*',end=' ')
    print('')

*             *
*             *
*             *
*             *
*             *
*             *
*             *
*             *
* * * * * * * *
* * * * * * * *
*             *
*             *
*             *
*             *
*             *
*             *
*             *
*             *